*{
    margin: 0;
}
.bac1{
    background: #343045;
    height: 100%;
    
}
.img{
    display: flex;
    position: relative;
    top: -40px;
    left: 0;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin:  0 auto;
    position: relative;
    top: 50px;
    left: 0;
}
.text{
    display: flex;
    list-style: none;
    color: #fff;
}
.text  li{
    margin: 10px;
}
.col1{
    border: 1px solid #fff;
    height: 20px;
    padding: 10px;
    border-radius: 40px;

    color: #fff;
    cursor: pointer;
}
.col1:hover{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 1px solid #343045;
}
.col2{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 1px solid #C0B7E8;
    height: 20px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
}
.col2:hover{
    background: #ffffff00;
    border: 1px solid #fff;
}
ul li:hover{
    color: #C0B7E8;
    cursor: pointer;
    transition: 0.5s;
}
.text2{
    display: flex;
    justify-content: space-between;
}
.pol{
    color: #fff;
}
n{
    color: #C0B7E8;
}
.pol2{
    width: 40%;
    color: #fff;
    margin-top: 20px;
}
.pol3{
    display: flex;
}
.pol3 p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8176AF;
    width: 18%;
    border-radius: 50px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    margin-top: 20px;
    padding: 10px;

}
.nav{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 100px auto;
}
.pol h1{
    font-size: 50px;
}
.pol3 img{
    margin-top: 20px;
    margin-left: 10px;
}
.f{
    margin:  0 auto;
}
.pol3 p:hover{
    background: #ffffff00;
    border: 1px solid #fff;
    cursor: pointer;
}
.k{
    margin-top: 500px;
}
.fa1{
    display: flex;
}
.fa2{
    display: flex;
}
.fa3{
    display: flex;
}
.col3{
    color: #fff;
    width: 100%;
    margin-left: 20px;
}
.nav-2{
    display: flex;
    justify-content: space-around;
}
.bac-2{
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding: 40px;
    width: 1400px;
    margin: 0 auto;
    border-radius: 50px;
  
}
.fa1 p{
    margin-top: 7px;
}
.fa2 p{
    margin-top: 7px;
}
.fa3 p{ 
    margin-top: 7px;
}
.border{
    border-right: 2px solid #ccc;
    width: 120px;
}
.col3 p:hover{
    color: #8176AF;
    cursor: pointer;
    
}
.nav-3{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 100px auto;
    color: #fff;
}
.text3{
    width: 40%;
}
.pol-0{
    display: flex;
}

.pol-0 h1{
    margin-top: 20px;
}
.pol-0 img{
    position: relative;
    top: -10px;
    left: 10px;
}
.nav-4{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
   
}
.pol4{
    width: 39%;
    color: #fff;
    margin-top: 20px;
}
.eget1{
    margin-top: 50px;
}
.VR{
    margin-top: 10px;
}
.col-4{
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    height: 500px;
    width: 20%;
    border-radius: 30px;
}
.images{
    display: flex;
    justify-content: center;
    
}
.images img{
    border: 7px solid #00000053;
    border-radius: 120px;
    margin-top: 20px;
}
.tx{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}
.border2{
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    width: 50%;
    margin-left: 75px;
}
.tx2{
    margin-left: 30px;
    color: #fff;
    width: 90%;
    margin-top: 20px;
}
.tx3{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: 1px solid #C0B7E8;
    height: 20px;
    padding: 10px;
    margin-left: 60px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
   
}
.tx3:hover{
    background: #ffffff00;
    border: 1px solid #fff;
}
.content1{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
.images2{
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    margin: 100px auto;
}
.images3{
    display: flex;
    justify-content:space-evenly;
    width: 1400px;
    margin: 0 auto;
}


.row-2{
  display: flex;
  justify-content:center;
  width: 1400px;
  margin: 100px auto;
  color: #fff;
}
.row-2 img{
    width: 50%;
}
.p{
     z-index: 100;
}
.vectr{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    position: relative;
    top: -270px;
    left: 0;
}
.join{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    color: #fff;
}

.border3{
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    width: 100%;
}
.ldfskl{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    color: #fff;
}
.bor img{
    margin-top: 20px;
}
.inp2{

    width: 1400px;
    margin: 100px auto;   
    padding: 30px;
    border-radius: 30px;
}
.fon2{
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    border-radius: 50px;
}
.fon3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
input{
    margin: 10px;
    padding: 10px;
    background: #ffffff00;
    border: 1px solid #8176AF;
    border-radius: 30px;
    color: #fff;
    width: 40%;
}
.fon4{
    display: flex;
    justify-content: center;
}
.inp{
    width: 1400px;
    margin: 0 auto;
}
.in{
    width: 40%;
}
.PRC{
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    margin: 50px auto;
}
.border4{
    border-left: 2px solid #ccc;
}
.TEXT-2{
    color: #fff;
    
}
.TEXT-2 p{
    margin: 10px;
}
.fo img{
    margin: 5px;
}
.h2{
    color: #fff;
}
.bor2{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    width: 1400px;
    margin: 0 auto;

}
.h2-1{
   
    height: 200px;
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    color: #fff;
}
.fa{
    display: none;
}
.k12{
    background: #000;
    width: 20%;
    height: 100px;
    display: none;
}
@media screen and (max-width: 600px) {
    .text{
        display: none;
    }
    .text2{
        display: none;
    }
    .nav{
        flex-wrap: wrap-reverse;
    
    }
    .foto img{
        width: 35%;
        
    }
    .foto{
        width: 1300px;
        margin: 0 auto;
    }
    .bac1{
        background: #343045;
        height: 100%;
    }
    .pol h1{
        font-size: 35px;
    }
    .pol{
        width: 1200px;
        margin: 20px auto;
    }
    .pol2{
        width: 30%;
    }
    .bac-2{
        width: 80%;
        flex-wrap: wrap;
    }
    .nav-2{
        flex-wrap: wrap;
      
    }
    .border{
        display: none;
    }
    .text3{
        display: none;
    }
    .pol-0 img{
        display: none;
    }
    .nav-4{
        flex-wrap: wrap;
        width: 100%;
    }
    .hh{
        flex-wrap: wrap;
   
     margin: 0 auto;
        
    }
    .nav-4 img{
        width: 70%;
    }
    .pol4 h2{
        display: none
    }
    .eget1{
        width: 400px;
        margin: 0 auto;
    }
    .nav-3 h1{
        display: flex;
        justify-content: center;
    }
    .pol4{
        margin-left: 50px;
    }
    .nav-4 img{
        margin-left: 70px;
    }
    .nav-3 h1{
        margin-left: 150px;
   
    }
    .content1{
        flex-wrap: wrap;
        width: 60%;
       
        
    }
    .col-4{
        flex-wrap: wrap;
        width: 100%;
        margin: 10px;
    }
    .images2 img{
        width: 90%;
        margin-left: 30px;
    }
    .images3{
        flex-wrap: wrap-reverse;
        width:90%;
        margin: 0 auto;
    }
    .images3 img{
        width: 90%;
        margin-left: 30px;
    }
    .images2{
        flex-wrap: wrap-reverse;
        width:90%;
        margin: 0 auto;
    }
    .p img{
        width: 35%;
    }
    .p{
        width: 1300px;
        margin: 0 auto;
    }
    .vectr{
        display: none;
    }
    .fon2{
        display: flex;
        justify-content: center;
     
    }
    .fon2{

        width: 35%;
        margin-top: 50px;
    }
    .join{
        width: 500px;
        margin: 0 auto;
    }
    .inp{
        margin-left: 20px;
    }
    .border3{
   
        width: 50%;
        margin-left: 100px;

    }
    .bor img{
        width: 70%;
        margin-left: 30px;
    }
    .ldfskl{
        width: 200px;
        margin: 0 auto;
    }
    .PRC{
        flex-wrap: wrap;
        width: 90%;
    }
    .border4{
        display: none;
    }
    .vv{
        margin-top: 20px;
    }
    .h2{
        margin-top: 30px;
    }
    .h2-1{
        width: 80%;
        font-size: 14px;
    }
    .bor img{
        margin-left: 70px;
    }
    .border3{
        display: none;
    }
    .fa{
        display: block;
        color: #8176AF;
        font-size: 40px;
        cursor: pointer;
        margin-left: 250px;
        margin-top: 35px;
    }
    .k12{
        background: rgba(255, 255, 255, 0.053);
    
        height: 100px;
        padding: 50px;
        display: block;
        margin-left: 200px;
    }
    body{
        overflow-x: hidden;
    }
   
}


@media screen and (max-width: 390px) {
    .text{
        display: none;
    }
    .text2{
        display: none;
    }
    .nav{
        flex-wrap: wrap-reverse;
    
    }
    .foto img{
        width: 25%;
        
    }
    .foto{
        width: 1350px;
        margin: 0 auto;
    }
    .bac1{
        background: #343045;
        height: 100%;
    }
    .pol h1{
        font-size: 35px;
    }
    .pol{
        width: 1350px;
        margin: 20px auto;
    }
    .pol2{
        width: 25%;
    }
    .bac-2{
        width: 70%;
    }
    .pol4{
        margin-left: 50px;
    }
    .nav-4 img{
        margin-left: 50px;
    }
    .nav-3 h1{
        margin-left: 70px;
    }
    .eget1{
        width: 300px;
        margin: 0 auto;
    }
    .content1{
        flex-wrap: wrap;
        width: 70%;
       
        
    }
    .col-4{
        flex-wrap: wrap;
        width: 100%;
        margin: 10px;
    }
    .border2{
        margin-left: 62px;
    }
    .tx2{
        width: 85%;
    }
    .tx3{
        margin-left: 47px;
    }
    .images2 img{
        width: 90%;
    }
    .images2{
        width: 395px;
        margin: 50px auto;
    }
    .p img{
        width: 24%;
    }
    .p{
        width: 1300px;
        margin: 50px auto;
    }
    .fon2{
        width: 25%;
        margin-top: 50px;
    }
    input{
        margin: 10px;
        padding: 10px;
        background: #ffffff00;
        border: 1px solid #8176AF;
        border-radius: 30px;
        color: #fff;
        width: 26%
    }
    .bor img{
        margin-left: 95px;
        width: 62%;
    }
    .images3 img{
        margin-left: 16px;
    }
    .images2 img{
        width: 79%;
        margin-left: 39px;
    }
    .PRC{
        width: 102%;
    }
    body{
        overflow-x: hidden;
    }
}
